@import "tailwindcss";

:root {
  color-scheme: dark;
}

body {
  font-family: var(--font-geist-sans), Arial, sans-serif;
}

@layer base {
  *,
  html,
  body {
    scrollbar-width: none !important;
    -ms-overflow-style: none !important;
  }

  *::-webkit-scrollbar,
  html::-webkit-scrollbar,
  body::-webkit-scrollbar {
    display: none !important;
    width: 0 !important;
    height: 0 !important;
  }
}
